@model MvcQuanLyNhanVien.Models.Employee

@{
    ViewData["Title"] = "DeleteFresher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <h4>Nhân viên mới ra trường</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GraduationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GraduationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GraduationRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GraduationRank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Certificates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Certificates.Count)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Employees" asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
