@model MvcQuanLyNhanVien.Models.Employee

@{
    ViewData["Title"] = "DetailsIntern";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int index = 0;
}

<h1>Thông tin</h1>

<div>
    <h4>Thực tập sinh</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Majors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Majors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Certificates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Certificates.Count)
            |
            <a asp-action="CreateCertificateIntern" asp-route-id="@Model.Id">Thêm bằng cấp</a>
        </dd>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mã bằng cấp</th>
                    <th scope="col">Tên bằng</th>
                    <th scope="col">Xếp loại</th>
                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Certificates)
                {
                    index++;
                    <tr>
                        <th scope="row">@index</th>
                        <td>@item.CertificateId</td>
                        <td>@item.CertificateName</td>
                        <td>@item.CertificateRank</td>
                        <td>
                            <p>
                                <a asp-controller="Interns" asp-action="EditCertificateIntern" asp-route-id="@item.CertificateId">Sửa</a>
                                |
                                <a asp-controller="Interns" asp-action="DeleteCertificateIntern" asp-route-id="@item.CertificateId">Xóa</a>
                            </p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-action="EditIntern" asp-route-id="@Model?.Id">Sửa nhân viên</a> 
    |
    <a asp-controller="Employees" asp-action="Index">Quay lại danh sách</a>
</div>
