@model IEnumerable<MvcQuanLyNhanVien.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int index = 0;
}

<h1>Danh sách nhân viên</h1>

<p>
    <a asp-controller="Experiences" asp-action="CreateExperience">Thêm nhân viên lâu năm</a> |
    <a asp-controller="Freshers" asp-action="CreateFresher">Thêm nhân viên mới ra trường</a> |
    <a asp-controller="Interns" asp-action="CreateIntern">Thêm thực tập sinh</a>
</p>

<form asp-controller="Employees" asp-action="Index">
    <p>
        Tên nhân viên: <input type="text" name="SearchString" />
        <input type="submit" value="Tìm kiếm"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificates)
            </th>
            <th>Chức năng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
        {
            index++;
            <tr>
                <td>@index</td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Certificates.Count)
                </td>
                <td>
                    @if (item.GraduationDate == null && item.GraduationRank == null &&
                   item.Education == null && item.Majors == null &&
                   item.Semester == null && item.UniversityName == null)
                    {
                        <a asp-controller="Experiences" asp-action="EditExperience" asp-route-id="@item.Id" class="">Sửa</a>
                    }
                    else if (item.ExpInYear == null && item.ProSkill == null &&
                    item.Majors == null && item.Semester == null &&
                    item.UniversityName == null)
                    {
                        <a asp-controller="Freshers" asp-action="EditFresher" asp-route-id="@item.Id">Sửa</a>
                    }
                    else if (item.ExpInYear == null && item.ProSkill == null &&
                    item.GraduationDate == null && item.GraduationRank == null &&
                    item.Education == null)
                    {
                        <a asp-controller="Interns" asp-action="EditIntern" asp-route-id="@item.Id">Sửa</a>
                    }
                    |
                    @if (item.GraduationDate == null && item.GraduationRank == null &&
                   item.Education == null && item.Majors == null &&
                   item.Semester == null && item.UniversityName == null)
                    {
                        <a asp-controller="Experiences" asp-action="DetailsExperience" asp-route-id="@item.Id">Chi tiết</a>
                    }
                    else if (item.ExpInYear == null && item.ProSkill == null &&
                    item.Majors == null && item.Semester == null &&
                    item.UniversityName == null)
                    {
                        <a asp-controller="Freshers" asp-action="DetailsFresher" asp-route-id="@item.Id">Chi tiết</a>
                    }
                    else if (item.ExpInYear == null && item.ProSkill == null &&
                    item.GraduationDate == null && item.GraduationRank == null &&
                    item.Education == null)
                    {
                        <a asp-controller="Interns" asp-action="DetailsIntern" asp-route-id="@item.Id">Chi tiết</a>
                    }
                    |
                    @if (item.GraduationDate == null && item.GraduationRank == null &&
                   item.Education == null && item.Majors == null &&
                   item.Semester == null && item.UniversityName == null)
                    {
                        <a asp-controller="Experiences" asp-action="DeleteExperience" asp-route-id="@item.Id">Xóa</a>
                    }
                    else if (item.ExpInYear == null && item.ProSkill == null &&
                    item.Majors == null && item.Semester == null &&
                    item.UniversityName == null)
                    {
                        <a asp-controller="Freshers" asp-action="DeleteFresher" asp-route-id="@item.Id">Xóa</a>
                    }
                    else if (item.ExpInYear == null && item.ProSkill == null &&
                    item.GraduationDate == null && item.GraduationRank == null &&
                    item.Education == null)
                    {
                        <a asp-controller="Interns" asp-action="DeleteIntern" asp-route-id="@item.Id">Xóa</a>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
